@import url('https://fonts.googleapis.com/css?family=Orbitron');

$boardWidth: 600px;
$smallBoardWidth: 400px;
$blue: #79aff7;
$clockFont: 'Orbitron', sans-serif;

.timer_container {
	position: relative;
  margin-top: 20px;
  font-size: 40px;
	text-align: center;
}

.board_container {
	position: relative;
}

.board {
	max-width: $boardWidth;
	// width: $boardWidth;
	margin: 20px auto;
}

.card_container {
	display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
	position: relative;
	display: inline-block;
	width: calc((#{$smallBoardWidth} / 4) - 10px);
	height: calc((#{$smallBoardWidth} / 4) + 20px);
	margin-left: 10px;
	margin-bottom: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 0 1px darken($blue, 50%), 5px 5px 5px lighten(black, 25%);		
	pointer-events: none;

	@media screen and (min-width: 768px) {
		width: calc((#{$boardWidth} / 4) - 10px);
		height: calc((#{$boardWidth} / 4) + 20px);
	}

	span {
		position: absolute;
		display: block;
		width: 100%;
		top: 50%;
		color: $blue;
		text-align: center;
		font-size: 3rem;
		transform: translate(0,-50%);
	}

	&.facedown {
		background: darken($blue, 50%);
		border: 7px solid white;
		cursor: pointer;
		pointer-events: auto;

		span {
			visibility: hidden;
		}
	}

	&.matched {
		animation-name: match;
		animation-duration: 800ms;
		animation-fill-mode: forwards;
	}

	&.wrong {
		animation-name: wrong;
		animation-duration: 400ms;
		animation-fill-mode: forwards;
	}
}

@keyframes match {
	0% {
		transform: scale(1);		
	}
	50% {
		transform: scale(1.1);
		box-shadow: 0 0 15px lighten(green, 25%);
		z-index: 200;
	}
	100% {
		transform: scale(1);		
	}
}

@keyframes wrong {
	0% {
		transform: rotate(15deg);		
	}
	25% {
		transform: rotate(-15deg);	
	}
	50% {
		transform: rotate(15deg);
		box-shadow: 0 0 15px red;
	}
	75% {
		transform: rotate(-15deg);	
	}
	100% {
		transform: rotate(0);
	}
}

.final_time {
	font-family: $clockFont;
	color: black;
}

.finished {
  position: absolute;
	width: 50%;
  height: 100%;
  top: 50%;
  left: 50%;
	background: fade-out(lighten($blue, 15%), 0.1);
  transform: translate(-50%,-50%);
  z-index: 1100;
  opacity: 0;
  animation-name: finished;
  animation-duration: 1200ms;
  animation-fill-mode: forwards;
  text-align: center;	

  p {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 0;
		font-size: 2rem;
  	transform: translate(0%,-50%);

  	.final_time {
  		display: block;
  		padding-top: 20px;
  		margin-bottom: 20px;
  		font-size: 4rem;
  		color: darken($blue, 30%);
  		text-shadow: 2px 2px 2px black;
  	}
  }
}

@keyframes finished {
	40% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.blocker {
	display: none;
	
	&.open {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: fade-out(yellow, 1);
		z-index: 1000;
	}
}
