* {
	margin: 0;
	border: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background: url(https://images-na.ssl-images-amazon.com/images/I/71ALfUTir8L._SY355_.jpg);
	background-repeat: repeat;
}

body {
	font-size: 18px;
	height: 100vh;
	background-color: fade-out(white, 0.35);
}