@import url('https://fonts.googleapis.com/css?family=Montserrat');

$bodyFont: 'Montserrat', sans-serif;
$grey: #333;

.game {
	font-family: $bodyFont;
}

.header {
	padding-top: 20px;
	color: $grey;
  font-size: 2rem;
  text-align: center;
}

.difficulty {
  height: 200px;
  margin: 3rem;
  padding: 2rem;
	text-align: center;

	p {
		margin-bottom: 20px;
	}
}

.choice_btn {
	display: inline-block;
	width: 25%;
	height: 3.5rem;
	font: {
		family: $bodyFont;
		size: 2rem;
	}
	background: darken(white, 5%);
	border: 1px solid white;
	box-shadow: 0 8px 0 lighten(black, 40%);
	cursor: pointer;

	&:hover {
		position: relative;
		top: 4px;
		box-shadow: 0 4px 0 lighten(black, 40%);
	}

	&:first-of-type {
		margin-right: 20px;
	}
}