.card {
	position: relative;
	display: inline-block;
	width: calc((#{$smallBoardWidth} / 4) - 10px);
	height: calc((#{$smallBoardWidth} / 4) + 20px);
	margin-left: 10px;
	margin-bottom: 20px;
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 0 1px darken($blue, 50%), 5px 5px 5px lighten(black, 25%);		
	pointer-events: none;

	@media screen and (min-width: 768px) {
		width: calc((#{$boardWidth} / 4) - 10px);
		height: calc((#{$boardWidth} / 4) + 20px);
	}

	span {
		position: absolute;
		display: block;
		width: 100%;
		top: 50%;
		color: $blue;
		text-align: center;
		font-size: 3rem;
		transform: translate(0,-50%);
	}

	&.facedown {
		background: darken($blue, 50%);
		border: 7px solid white;
		cursor: pointer;
		pointer-events: auto;

		span {
			visibility: hidden;
		}
	}

	&.matched {
		animation-name: match;
		animation-duration: 800ms;
		animation-fill-mode: forwards;
	}

	&.wrong {
		animation-name: wrong;
		animation-duration: 400ms;
		animation-fill-mode: forwards;
	}
}

@keyframes match {
	0% {
		transform: scale(1);		
	}
	50% {
		transform: scale(1.1);
		box-shadow: 0 0 15px lighten(green, 25%);
		z-index: 200;
	}
	100% {
		transform: scale(1);		
	}
}

@keyframes wrong {
	0% {
		transform: rotate(15deg);		
	}
	25% {
		transform: rotate(-15deg);	
	}
	50% {
		transform: rotate(15deg);
		box-shadow: 0 0 15px red;
	}
	75% {
		transform: rotate(-15deg);	
	}
	100% {
		transform: rotate(0);
	}
}