@import '../App/App';
@import '../Game/Game';

.choices {
  height: 200px;
  margin: 3rem;
  padding: 2rem;
	text-align: center;

	p {
		font-size: 1.5rem;
		margin-bottom: 20px;
	}

	& :global(.btn) {
		text-transform: capitalize;

		&:first-of-type {
			margin-right: 20px;
		}
	}
}

:global(.btn).red {
	background: $burgundy;
	color: white;
}

:global(.btn).blue {
	background: $blue;
}